Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-redis
django-celery-results
django-allauth
django-cloudinary-storage
cloudinary
celery
redis
daphne
channels
channels-redis
drf-spectacular
pillow
python-dotenv
requests
resend
cryptography
psycopg2-binary
chapa
